<h5>Welcome,<%=current_user%></h5><br><br>

<a href="">Edit My Profile</a>

<br><br>
<h3>Here are some of the events at your state:</h3>
<br>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Location</th>
            <th>State</th>
            <th>Host</th>
            <th>Action/Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br><br><br>
<h3>Here are some of the events on the othere states:</h3>
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Date</td>
            <td>Location</td>
            <td>State</td>
            <td>Host</td>
            <td>Action/Status</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br>
<br>
<br>


<h2>Add Event</h2>
<form action="" method="post">
<form action="/meetings/create" method="post">  
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Name</label><br>
    <input type="text" name=""><br>
    <label>Date</label><br>
    <label>Location</label><br>
    <input type="text" name="">
        <%= select_tag :state, options_for_select(us_states) %>
    <input type="submit" value="Add Event"> 
    
    
    
</form>

