<h1>New Student</h1>

<form action="/create" method="post"></form>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
<Label>First Name:</Label><br>
<input type="text" name"first_name"><br>
<Label>Last Name:</Label><br>
<input type="text" name"last_name"><br>
<Label>Email Adress:</Label><br>
<input type="text" name"email"><br>
    <select name="location">
        <% @dojos.each do |d| %>
        <option value="chicago"><%=d.branch%></option>
        <% end %>
    </select>

