<h1>New Student</h1>

<form action="/dojos/<%=@dojos.id%>/students" method ="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
<label>First Name:</label><br>
<input type="text" name="first_name"><br>
<label>Last Name:</label><br>
<input type="text" name ="last_name"><br>
<label>Email:</label><br>
<input type="text" name="email"><br>
<label>Dojo:</label><br>
<select name="dojo_id"><br>

    	<option value="<%= @dojos.id %>"><%= @dojos.branch %></option>	
    
</select><br>
<input type="submit" value="Create">
</form>
